@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Roboto&display=swap');
*{ outline: none;
  font-family:sans-serif;
    margin:0px; 
    }
 html{
 	height: 100%;
 }
body{
   background:  white;
   font-weight: normal;
   font-size: 20px;
   display: flex;
   flex-direction: column;
   height: 100%;
	
}/*
header{
  padding:15px;
  background:white;
  box-shadow: 0px 0.1px 3px gray;
}
.logo{
 width: 60px;
 margin-left: 10px;
 border-radius: 5px;
}

.sidenav {
       
  float: right;
  margin: 10px;
}
.sidenav a {
  color:  #000030;
  padding: 5px;
  text-decoration: none;
  font-size: 25px;
}
.sidenav a:hover {
  font-weight: bold;
  font-size: 30px;
}
.bars, .closebtn{
  display: none;
}
footer{
  text-align: right;
  margin-top: auto;
  padding: 20px;
  font-size: 20px;
  background: url(https://2.bp.blogspot.com/-Cunhwsdp0mY/XkwPhif1ZJI/AAAAAAAABbQ/QcKYgn8WpuggeTcr90fNXlmGQE0Mpy0JwCK4BGAYYCw/s480/hero-wrapper.png) ,linear-gradient(to bottom left,#00ccff,#008BD6);
  color: white;
 
}
footer a{
  text-decoration: none;
  color: white;
  padding: 10px;
}
footer P{
  padding-top: 10px;
  font-size: 12px;
  font-weight: normal;
}*/
.y{
background: url(https://2.bp.blogspot.com/-Cunhwsdp0mY/XkwPhif1ZJI/AAAAAAAABbQ/QcKYgn8WpuggeTcr90fNXlmGQE0Mpy0JwCK4BGAYYCw/s480/hero-wrapper.png);

}
.xx{
	background: url(https://2.bp.blogspot.com/-Cunhwsdp0mY/XkwPhif1ZJI/AAAAAAAABbQ/QcKYgn8WpuggeTcr90fNXlmGQE0Mpy0JwCK4BGAYYCw/s480/hero-wrapper.png) ;
}
label, input {
  width: 100%;
}
label {
       color: #000030;
       font-weight: bold;
}
input{
  font-size: 20px;
  padding: 5px 10px;
  margin: 2px 0px 10px 0px;
  box-sizing: border-box;
  border-radius: 5px;
  color: #000032;
  border: 1.5px solid #008BD6;
 
}
#output{
     float: right;
     width: 80px;
     height: 80px;
     margin: 0px;
  
}
br{   
    content: "A" !important;
    display: block !important;
    margin-bottom: 0.5em !important;
    border: 0.1px dotted #008BD6;
    
}
input:focus {
  border: 1.5px dotted #008BD6;
  font-weight: bold;
  color: #008BD6;
  background: transparent;
}
button{
      font-size: 25px;
      background: #008BD6;
      margin: 5%;
      width: auto;
     
      padding: 8px 10px;
      border: none;
      box-sizing: border-box;
      border-radius: 6px; 
      color: white;
      font-weight: bold;
}
button:hover{
	background: #00ccff;
	color: white;
	border: none;
}
.on3e{
  
  border-radius: 6px;
  padding: 20px;
  font-size: 15px; 
  margin: 5%;
  background: white;
  border: 1.5px solid #008BD6;
  border: none;
  box-shadow: 1px 1px 6px gray;
	
}
#demo i{
       
        font-style: normal;
}
#demo b{
        font-weight: normal;
        color: gray;
        
}
.x,.y{
        padding: 20px;
}
#myDIV{
        display: none;
        margin: 0px 20px;
}
#myDIV input{
       padding: 5px; 
   
}
.in{
     color: #008BD6;
     background: white;
     border:1.5px solid #008BD6;
  
}
.dhd{
   font-weight: normal;
   display: none;
   text-align: center;
   font-family: 'Great Vibes', cursive;
}
.add1,.add2{
	color: #000030;
}
::placeholder {
  color:#a6a6a6;
}
.fa-print{
	display: none;
	color : white;
  background: #008BD6;
	text-align: center;
}
.addthis_inline_share_toolbox{
  text-align: center;
  padding: 30px ;
  border-radius: 20px;
}
@media screen and (max-width: 960px){
  /*header{
    padding: 5px;
    position: fixed;
    top:0;
    left:0;
    right: 0;
  }
 .logo{
  width: 40px;
  margin: 0px 0px 0px 10px;
  float: left;
}
.bars{
        float: right;
       margin-top: 2px;
}*/
.y{
        margin-top: 15%;
       
}/*
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right:0;
  background: white;
  overflow-x: hidden;
  transition: 0.5s;
  margin: 0px;
  padding-top: 60px;
}
.container{
  margin: 2px 6px 0px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  box-shadow: 0px 0.2px #008BD6;
  display: block;
  transition: 0.3s;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  display: inline;
  right: 20px;
  padding: 30px;
}
.bars,.closebtn{
  display: block;}
.version{
    display: block;
    position: absolute; 
    bottom: 15%; 
    margin: 0% 30%;
}



/*menu bar*/
.container {
  display: inline-block;
  cursor: pointer;
}/*
.material-icons{
        color: #008BD6;
        font-size: 35px;
        
}*/
label, input {
  width: 100%;
}
label {
       color: #000030;
       font-weight: bold;
}
input{
  font-size: 20px;
  padding: 5px 10px;
  margin: 2px 0px 10px 0px;
  box-sizing: border-box;
  border-radius: 5px;
  color: #000032;
  border: 1.5px solid #008BD6;
 
}
#output{
     float: right;
     width: 80px;
     height: 80px;
     margin: 0px;
  
}
br{   
    content: "A" !important;
    display: block !important;
    margin-bottom: 0.5em !important;
    border: 0.1px dotted #008BD6;
    
}
input:focus {
  border: 1.5px dotted #008BD6;
  font-weight: bold;
  color: #008BD6;
  background: transparent;
}
button{
      font-size: 25px;
      background: #008BD6;
      margin: 5%;
      width: auto;
     
      padding: 8px 10px;
      border: none;
      box-sizing: border-box;
      border-radius: 6px; 
      color: white;
      font-weight: bold;
}
button:hover{
	background: #00ccff;
	color: white;
	border: none;
}
.on3e{
  
  border-radius: 6px;
  padding: 20px;
  font-size: 15px; 
  margin: 5%;
  background: white;
  border: 1.5px solid #008BD6;
  border: none;
  box-shadow: 1px 1px 6px gray;
	
}
#demo i{
       
        font-style: normal;
}
#demo b{
        font-weight: normal;
        color: gray;
        
}
.x,.y{
        padding: 20px;
}
#myDIV{
        display: none;
        margin: 0px 20px;
}
#myDIV input{
       padding: 5px; 
   
}
.in{
     color: #008BD6;
     background: white;
     border:1.5px solid #008BD6;
  
}
.dhd{
   font-weight: normal;
   display: none;
   text-align: center;
   font-family: 'Great Vibes', cursive;
}
.add1,.add2{
	color: #000030;
}
::placeholder {
  color:#a6a6a6;
}
.fa-print{
	display: none;
	color : white;
  background: #008BD6;
	text-align: center;
}}
@media screen and (min-width: 980px){
  .x,.y{
     padding: 5%;
        }
label{
   width: 30%; 
   float: left;
        }
input{
  width: 70%;
 
  }
 #myDIV{
 	margin: 0px 40px;
 } 
 #myDIV input{
    margin: 10px;
    float: left;
    background-position: border-box;
  }
 
 .add1{
     width: 25%;
     
 } 
 .add2{
         width: 70%;
 } 
}
@media print{
	body{
		color: #000030;
		display:inherit
		}
#demo{
   color: #000030;
   word-spacing: 5px;}

#demo b{
	color: #000030;}
.on3e{
	box-shadow: none;}
.dhd{
      display: block;}
 #myDIV input{
    width: 45%; 
    border: none;
    display: none;
    margin: 0px 20px;
    float: left; }

header,button,footer,.x,.y,.fa-print,.addthis_inline_share_toolbox{ 
  display: none;
  visibility: hidden;}

#output{
   width: 85px;
   height:85px;
   margin-right: 100px;  }
br{ border: none;}
}