@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@600&display=swap');
*{
   margin: 0;
   outline: none;
}
html{
	height: 100%;
}
body{
    font-size: 18px;
   background: white;
   color: white;
   font-family: Arial, sans-serif;
   display: flex;
   flex-direction: column;
   height: 100%; 
}

#result {
  box-shadow: 1px 1px 3px lightgray;
   border: 1.2px solid #008BD6;
   font-size: 18pt;
   color: #000032;
   margin: 10px 10%; 
   border-radius: 6px; 
   box-sizing: border-box; 
   margin: 0; 
   padding: 8px 18px; 
   background: white; 
   font-family: serif; 
   text-align: left;
}
#example h1{
    text-align: center;
    margin: 10px;
    font-family: 'Tinos',serif; padding: 10px 0; font-weight: normal;
    text-shadow: 1px 1px 5px lightgray;
 
   
}

#example{
   font-family:  Georgia, 'Times New Roman', Times, serif;
   font-weight: normal;
  padding: 20px 20px;
  border-bottom: 1px solid gray;
  margin: 2% 10%;
  color: #008BD6;
   
}/*
.material-icons{
        color: #008BD6;
        font-size: 35px;
}*/
.version{
 display: none;
  }

input{
   
     box-shadow: 1px 1px 3px lightgray;
     border: 1.2px solid #008BD6;
      padding: 8px;
      width: 100%; 
      box-sizing: border-box;
      font-weight: bold;
      text-align: right;
      font-size: 20px;
      border-radius: 6px; 
}
button{
     box-shadow: 1px 1px 3px lightgray;
      border: 1.2px solid white;
      margin:12px 0px;
      font-size: 25px;
      background: #008BD6;
      width: 100%;
      padding: 5px 8px;
      box-sizing: border-box;
      font-weight: bold;
      border-radius: 6px; 
      color: white;
      
}
button:hover{
	background: #00ccff;
	color: white;

}
br
{   content: "A" !important;
    display: block !important;
    margin-bottom: 0.5em !important;
    border: 0.05px dotted #000032;
}
/*
header{
  padding:15px;
  box-shadow: 0px 0.1px 3px gray;
}
.logo{
 width: 60px;
 margin-left: 10px;
 border-radius: 5px;
}

.sidenav {
  float: right;
  margin: 10px;
}
.sidenav a {
  color: #000030;
  padding: 5px;
  text-decoration: none;
  font-size: 25px;
}
.sidenav a:hover {
  font-weight: bold;
  font-size: 30px;
}
.bars, .closebtn{
  display: none;
}
footer{
  text-align: center;
  padding: 20px;
  margin-top: auto;
  font-size: 20px;
  background: url(https://2.bp.blogspot.com/-Cunhwsdp0mY/XkwPhif1ZJI/AAAAAAAABbQ/QcKYgn8WpuggeTcr90fNXlmGQE0Mpy0JwCK4BGAYYCw/s480/hero-wrapper.png) ,linear-gradient(to bottom left,#00ccff,#008BD6);
  color: white;
  
}
footer a{
  text-decoration: none;
  color: white;
  padding: 10px;
}
footer P{
  padding-top: 10px;
  font-size: 12px;
}*/
.about{
  color: #000030; 
  margin: 0% 10% 10% 10%;
  text-align: center;
  font-family: sans-serif;
}

.addthis_inline_share_toolbox{
  text-align: center;
  color: #000030!important;
  padding: 30px ;
  border-radius: 20px;
}
@media screen and (max-width: 960px){
  /*header{
  padding: 6px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background:white;
  box-shadow: 0px 0.1px 3px gray;
  }
 .logo{
  width: 80px;
  margin: 10px 0px 10px 10px;
  float: left;
}
*/
#example{
	margin: 15% 0%;
}

/*
.bars{
       float: right;
       margin-top: 2px;
} 
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right:0;
  background: white;
  overflow-x: hidden;
  transition: 0.5s;
  margin: 0px;
  padding-top: 60px;
}
.container{
  margin: 2px 6px 0px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  box-shadow: 0px 0.2px #008BD6;
  display: block;
  transition: 0.3s;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  display: inline;
  right: 20px;
  padding: 30px;
}
.bars,.closebtn{
  display: block;}
 .version{
    display: block;
    position: absolute; 
    bottom: 15%; 
    margin: 0% 30%;
   color: #000030;
  }} */
